{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new topic:</h2>
{% endblock header %}


{% block content %}


  <!-- <p>Add a new topic:</p> -->
  <form action="{% url 'learning_logs:new_topic' %}" 
        method='post' class='form'>

    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <!-- {{ form.as_p }} -->
    <button name="submit" class="btn btn-primary">add topic</button>
    {% endbuttons %}

  </form>

{% endblock content %}