{% extends 'learning_logs/base.html' %}

{% block content %}

  <p>Topic</p>

  <p>Entries:</p>

  <ul>
      {% for topic in topics %}
      <li> 
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </li>
      {% empty %}
      <li>No toipcs have been added yet.</li>
      {% endfor %}
  </ul>

  <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:s</a>

  {% endblock content %}