{% extends "learning_logs/base.html" %} 
{% load bootstrap3 %}


{% block header %}
  <div class='jumbotron'>
    <h1>Log in to your account.</h1>
  </div>
{% endblock header %}


{% block content %}

  <!-- {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %} --> 

  <form method="post" action="{% url 'users:login' %}" class="form">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {% bootstrap_form form %}

  {%  buttons %}
    <button name="submit" class="btn btn-primary">log in</button>
  {% endbuttons %}

  <input type="hidden" name="text" value="{%  url 'learning_logs:index' %}" />
  </form>

{% endblock content %}